# Dev stuff
__pycache__
*.sw?
.idea/
# Locally generated
# we highly recommended against removing the private folder from the gitignore file
# the directory is used to store sensitive information such as contacts
/private
.vscode/settings.json
.DS_Store
*.bak
# Emacs (from https://github.com/github/gitignore/blob/main/Global/Emacs.gitignore)
*~
\#*\#
.\#*
# Vim (from https://github.com/github/gitignore/blob/main/Global/Vim.gitignore)
[._]*.swp
