# Dev stuff
__pycache__
*.sw?
.idea/
# Locally generated
/settings
.vscode/settings.json
.DS_Store
*.bak
system_paths-*.talon-list
core/vocabulary/vocabulary.talon-list
core/websites_and_search_engines/website.talon-list
