name: breakStatement
phrase: break
insertionScope: statement
---

language: c | csharp | java | javascript | typescript | javascriptreact | typescriptreact | php | rust
-
break;
---

language: go | python | scala | stata | r
-
break
---

language: lua
-
break $0
---