name: caseStatement
phrase: case
---

language: cpp | java | javascript | typescript | javascriptreact | typescriptreact
insertionScope: branch
-
case $1:
    $0
---

language: python
insertionScope: branch
-
case $1:
    $0
---

language: c | csharp
insertionScope: branch
-
case $1:
    $0
    break;
---
