name: caseStatement
phrase: case
insertionScope: branch
---

language: c | cpp | csharp | java | javascript | typescript | javascriptreact | typescriptreact
-
case $1:
    $0
---

language: python
-
case $1:
    $0
---
