name: classDeclaration
phrase: class
insertionScope: class | statement
---

language: javascript
-
class $1 {
    $0
}
---

language: java
-
class $1 {
    $0
}
---

language: python
-
class $1:
    $0
---
