name: classDeclaration
insertionScope: class | statement
phrase: class
---

language: javascript
-
class $name {
    $0
}
---

language: java
-
$modifiers class $name {
    $0
}
---

language: python
-
class $name:
    $0
---
