name: codeBlock
phrase: block
---

language: c | cpp | csharp | java | javascript | typescript | javascriptreact | typescriptreact | php | scala | kotlin | r | rust | go | css | scss | terraform | protobuf
-
{
    $0
}
---

language: python
-
:
    $0
---

language: stata
-


$0
---
