name: commentLine
phrase: comment

$0.insertionFormatter: CAPITALIZE_FIRST_WORD
---

language: c | cpp | csharp | json | java | javascript | typescript | javascriptreact | typescriptreact
-
// $0
---

language: python | talon | csv
-
# $0
---

language: xml | html
-
<!-- $0 -->
---
