name: commentBlock
phrase: block comment
insertionScope: statement

$0.insertionFormatter: CAPITALIZE_FIRST_WORD
---

language: c | cpp | csharp | java | javascript | typescript | javascriptreact | typescriptreact
-
/* $0 */
---

language: python
-
"""$0"""
---

language: xml | html
-
<!-- $0 -->
---
