name: continueStatement
phrase: continue
insertionScope: statement
---

language: c | csharp | java
-
continue;
---

language: javascript | typescript | javascriptreact | typescriptreact | php | rust
-
continue$0;
---

language: go | python | scala | stata
-
continue
---

language: lua
-
goto continue
---

language: r
-
next
---
