name: defaultStatement
phrase: default
---

language: c | cpp | csharp | java | javascript | typescript | javascriptreact | typescriptreact | go
-
default:
    $0
---

language: python
-
case _:
    $0
---

language: scala
-
case _ => $0
---

language: elixir
-
_ ->
    $0
---
