name: defaultStatement
phrase: default
---

language: c | cpp | csharp | java | javascript | typescript | javascriptreact | typescriptreact
-
default:
    $0
---

language: python
-
case _:
    $0
---
