name: doWhileLoopStatement
phrase: do while
insertionScope: statement
---

language: c | cpp | csharp | java | javascript | typescript | javascriptreact | typescriptreact
-
do {
    $0
} while($1);
---
