name: finallyStatement
phrase: finally

$0.wrapperPhrase: finally
$0.wrapperScope: statement
---

language: csharp | java | javascript | typescript | javascriptreact | typescriptreact
-
finally {
    $0
}
---

language: python
-
finally:
    $0
---

language: r
-
finally = {
    $0
})
---
