name: forEachStatement
phrase: for each
insertionScope: statement
---

language: cpp
-
for ($1 : $2) {
    $0
}
---

language: csharp
-
foreach ($1 in $2) {
    $0
}
---

language: java
-
for (final $1 : $2) {
    $0
}
---

language: javascript | typescript | javascriptreact | typescriptreact
-
for (const $1 of $2) {
    $0
}
---

language: python
-
for $1 in $2:
    $0
---
