name: forLoopStatement
phrase: for loop
insertionScope: statement
---

language: c | cpp | csharp | java
-
for (int i = 0; i < $1; ++i) {
    $0
}
---

language: javascript | typescript | javascriptreact | typescriptreact
-
for (let i = 0; i < $1; ++i) {
    $0
}
---

language: python
-
for i in range($1):
    $0
---
