name: formatString
phrase: format
---

language: cpp
-
std::format("$0")
---

language: csharp
-
String.Format("$0")
---

language: java
-
String.format("$0")
---

language: javascript | typescript | javascriptreact | typescriptreact
-
`$0`
---

language: python
-
f"$0"
---
