name: functionCall
phrase: call
insertionScope: statement

$0.wrapperPhrase: call
---

language: c | cpp | csharp | python | talon | java | javascript | typescript | javascriptreact | typescriptreact
-
$1($0)
---
