name: functionCall
phrase: call
insertionScope: statement
---

language: c | cpp | csharp | python | talon | java | javascript | typescript | javascriptreact | typescriptreact | css | scss | sql | r
$2.wrapperPhrase: call
-
$1($2)
---

$0.wrapperPhrase: call
language: stata
-
$1 $0
---
