name: functionDeclaration
phrase: funk
insertionScope: namedFunction | statement

$0.wrapperPhrase: funk
$0.wrapperScope: statement
---

language: javascript
-
function $1($2) {
    $0
}
---

language: java
-
$modifiers void $1($2) {
    $0
}
---

language: python
-
def $1($2):
    $0
---
