name: genericForLoopStatement
phrase: for
insertionScope: statement
---

language: php
-
for ($1; $2; $3) {
	$0
}
---
language: stata
-
forval $1 {
	$0
}
---

language: elixir
-
for $1 do
	$0
end
---
