language: html | javascriptreact | typescriptreact
---

name: attributeClassName
phrase: class name
-
className="$0"
---

name: table
phrase: table
-
<table>
    <thead>
        <tr>
            <th>$1</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>$0</td>
        </tr>
    </tbody>
</table>
---

name: unorderedList
phrase: list
-
<ul>
    <li>$0</li>
</ul>
---
