language: html
---

name: element
phrase: element
insertionScope: xmlElement
-
<$name>
    $0
</$name>
---

name: attribute
phrase: attribute
-
$name=$0
---

name: table
phrase: table
-
<table className="table table-striped">
    <thead>
        <tr>
            <th>$1</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>$0</td>
        </tr>
    </tbody>
</table>
---

name: unorderedList
phrase: list
-
<ul>
    <li>$0</li>
</ul>
---
