name: importStatement
phrase: import

---

language: javascript | typescript | javascriptreact | typescriptreact
-
import $0 from "$0";
---

language: python
-
import $0
---

language: css | scss
-
@import $0
---