name: importStatement
phrase: import

---

language: javascript | typescript | javascriptreact | typescriptreact
-
import $0 from "$0";
---

language: python | go | scala
-
import $0
---

language: lua
-
local $1 = require('$0')
---

language: ruby
-
require "$0"
---

language: java
-
import $0;
---

language: php | rust
-
use $0;
---

language: r
-
library($0)
---

language: stata
-
ssc install $0
---

language: css | scss
-
@import $0
---

language: csharp
-
using $0;
---
