name: importStarStatement
phrase: import star

---

language: javascript | typescript | javascriptreact | typescriptreact
-
import * as $0 from "$0";
---

language: python
-
from $0 import *
---

language: rust
-
use $0::*;
---
