name: infiniteLoopStatement
phrase: loop
insertionScope: statement

$0.wrapperPhrase: loop
$0.wrapperScope: statement
---

language: rust
-
loop {
    $0
}
---

language: go
-
for {
    $0
}
---

language: python
-
while True:
    $0
---
