name: item
phrase: item
insertionScope: collectionItem

$1.wrapperPhrase: item key
$0.wrapperPhrase: item value
---

language: javascript | typescript | javascriptreact | typescriptreact | go
-
$1: $0,
---

language: python
-
"$1": $0,
---

language: r
-
${1}="$0",
---
