name: methodDeclaration
phrase: method
insertionScope: namedFunction | statement
---

language: javascript | typescript | javascriptreact | typescriptreact

$1.insertionFormatter: PRIVATE_CAMEL_CASE
-
$1($2) {
    $0
}
---

language: go

$1.insertionFormatter: PUBLIC_CAMEL_CASE
-
func ($2) $1($3) $4{
    $0
}
---

language: python

$1.insertionFormatter: SNAKE_CASE
-
def $1(self$2):
    $0
---
