name: methodDeclaration
phrase: method
insertionScope: namedFunction | statement
---

language: javascript | typescript | javascriptreact | typescriptreact

$1.insertionFormatter: PRIVATE_CAMEL_CASE
-
$1($2) {
    $0
}
---
