name: printStatement
phrase: print
insertionScope: statement

$0.wrapperPhrase: print
---

language: cpp
-
std::printf($0);
---

language: java
-
System.out.println($0);
---

language: javascript | typescript | javascriptreact | typescriptreact
-
console.log($0);
---

language: python | talon
-
print($0)
---

language: csharp
-
Console.WriteLine($0);
---
