language: python
---

name: listComprehension
phrase: list comp
insertionScope: statement
-
[$0 for $0 in $1]
---

name: setComprehension
phrase: set comp
insertionScope: statement
-
{$0 for $0 in $1}
---

name: dictComprehension
phrase: dict comp
insertionScope: statement
-
{$0: $2 for $2 in $1}
---
