name: returnStatement
phrase: return
insertionScope: statement

$0.wrapperPhrase: return
---

language: c | cpp | csharp | java | javascript | typescript | javascriptreact | typescriptreact | php | rust
-
return $0;
---

language: python | go | kotlin | lua | ruby | scala
-
return $0
---

language: r
-
return($0)
---
