name: structDeclaration
phrase: struct
$1.insertionFormatter: PUBLIC_CAMEL_CASE
---

language: rust
insertionScope: class
-
struct $1 {
    $0
}
---

language: cpp
insertionScope: statement
-
struct $1 {
    $0
};
