name: switchStatement
phrase: switch
insertionScope: statement
---

language: c | cpp | csharp | java | javascript | typescript | javascriptreact | typescriptreact
-
switch ($1) {
    $0
}
---

language: python
-
match $1:
    $0
---

language: r
insertionScope: branch
-
case_when(
    $0
    .default = ${3:default_value}
)
---
