name: ternary
phrase: ternary
---

language: c | cpp | java | csharp | javascript | typescript | javascriptreact | typescriptreact
-
$1 ? $2 : $0
---

language: python
-
$1 if $2 else $0
---

language: lua
-
$1 and $2 or $0
---
