name: tryStatement
phrase: try
insertionScope: statement
---

language: cpp | csharp | java | javascript | typescript | javascriptreact | typescriptreact | php
-
try {
    $0
}
---

language: python
-
try:
    $0
---
